.loupe{

	position: absolute 50% * * 50%;
	transform: translate(-50%, -50%);
	size: 3rem;

	border-radius: 50%;
	background: currentColor;
	background-clip: content-box;
	opacity: 0;
	color: color($c-bg a(.7));

	transition: ;

	display: flex;

	// mods
	&--{
		&hover{
			opacity: 1;
			border: 1rem solid currentColor;
		}
	}

	// elements
	&__{
		&icon{
			max-size: 2rem;
			margin: auto;

			fill: white;
		}
	}
}
