.loupe{
	@extend %center-abs;

	size: 3rem;

	border-radius: 50%;
	background-clip: content-box;
	opacity: 0;
	color: color($c-bg a(.7));

	transition: ;

	display: flex;

	// mods
	&--{
		&hover{
			opacity: 1;

			// elements
			&::after{
				transform: scale(1.5);
			}
		}
	}

	// elements
	&::after{
		content: '';

		position: absolute 0;
		z-index: $z-under;

		size: inherit;

		background: currentColor;
		border-radius: 50%;

		transition: inherit;
		transform-origin: center;
		will-change: transform;
	}
	&__{
		&icon{
			max-size: 2rem;
			margin: auto;

			fill: white;
		}
	}
}
