.bg{
	position: absolute 0;
	z-index: -99999;

	transition: ;
	will-change: opacity;

	// mods
	&._loading{
		opacity: 0;
	}
	&._loaded{
		opacity: 1;
	}

	// elements
	&__{
		&image{
			@extend %center-abs;
			z-index: $z-under;

			min-size: 100%;
			height: auto;
		}
	}
}
