.social{

	display: flex;

	// elements
	&__{
		&link{
			$social__link-width: 2.125rem;

			@extend .link;

			box-sizing: ;

			background: currentColor;
			fill: $c-primary;

			display: flex;
			align-items: center;
			justify-content: center;

			@media (--tablets){
				size: $social__link-width;
				padding: .5rem;
			}

			@media (--tablets-p){
				padding: .25rem;
				size: 1.625rem;
			}

			// pseudoselectors
			&:not(:last-child){

				@media (--tablets){
					margin-right: 1rem;
				}

				@media (--tablets-p){
					margin-right: .5rem;
				}
			}

			// pseudoclasses
			&:hover{
				box-shadow: inset $social__link-width 0 0 $c-secondary;
			}
		}
		&link:hover &icon{
			animation-name: socialIcon;
			animation-duration: $transition;
			will-change: transform;
		}
		&icon{
			max-size: 100%;
		}
	}
}

@keyframes socialIcon{
	0%{
		transform: none;
	}
	50%{
		transform: translateX(1px);
	}
	100%{
		transform: none;
	}
}
