.social{

	display: flex;

	// elements
	&__{
		&link{
			$social__link-width: 2.125rem;

			@extend .link;

			box-sizing: ;
			size: $social__link-width;
			padding: .5rem;

			background: currentColor;
			fill: $c-primary;

			// pseudoselectors
			&:not(:last-child){
				margin-right: 1rem;
			}

			// pseudoclasses
			&:hover{
				box-shadow: inset $social__link-width 0 0 $c-secondary;
			}
		}
		&link:hover &icon{
			animation-name: socialIcon;
			animation-duration: $transition;
			will-change: transform;
		}
		&icon{
			max-size: 100%;
		}
	}
}

@keyframes socialIcon{
	0%{
		transform: none;
	}
	50%{
		transform: translateX(1px);
	}
	100%{
		transform: none;
	}
}
