.menu{

	padding: 0;

	font-size: $font-size--secondary;

	text-transform: uppercase;

	display: flex;

	// elements
	&__{
		&link{
			@extend .link;
			// @extend .link--dark;

			font-weight: bold;

			// pseudoclasses
			&:not(:last-child){
				margin-right: 2.75rem;
			}
			&:not(:first-child){
				opacity: .3;
			}
			&:last-child{
				color: white;
			}

			// mods
			&:first-child:hover,
			&--active,
			&._active{
				color: white;
			}
		}
	}
}
