.menu{

	padding: 0;

	font-size: $font-size--secondary;
	font-weight: bold;
	letter-spacing: .05em;

	text-transform: uppercase;

	display: flex;

	// elements
	&__{
		&link{
			@extend .link;
			// @extend .link--dark;

			// pseudoclasses
			&:not(:last-child){
				margin-right: 2.75rem;
			}
			&:last-child{
				color: white;
			}

			// mods
			&._disable{
				opacity: .3;
				cursor: default;
			}
			&:hover,
			&--active,
			&._active{
				color: white;
			}
		}
	}
}
