$footer__subsection-factor: .75;
.footer{

	@media (--tablets-p){
		position: relative;
		z-index: calc($z-higher * 10);
	}

	// animation
	& + &{
		position: absolute 50% 0 *;
		transform: translateY(-50%);
	}

	// elements
	&__{
		&wrap{
			box-sizing: border-box;
			min-height: $footer__height;

			padding: 5vh *;

			font-size: $font-size--secondary;
			letter-spacing: .05em;

			background: $c-primary;

			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;

			@media (--tablets){
				color: $c-primary-text;
			}

			@media (--tablets-p){
				color: $c-blue;
			}

			@media (--h-tablet){
				min-height: $footer__height--lower;
				padding: 3vh *;
			}

			// mods
			&._hidden{
				visibility: hidden;

				transition-delay: $(trs)ms;
			}
		}
		&content{
			@extend .section__content;

			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&section{
			color: white;

			// subelements
			&,
			&-arrow{
				animation-name: footerItem;
				animation-duration: $transition;
			}
			&-{
				&arrow{
					size: 1rem .5rem;

					fill: currentColor;
				}
			}
		}
		&menu{
			@extend .menu;

			width: 100%;

			text-align: center;

			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&subsection{
			animation-name: footerItem;
			animation-duration: $transition;
			animation-fill-mode: forwards;

			opacity: 0;

			display: flex;
			flex-direction: column;

			// mods
			&:nth-of-type(1){
				animation-delay: calc($transition * $footer__subsection-factor * 1);
			}
			&:nth-of-type(2){
				animation-delay: calc($transition * $footer__subsection-factor * 2);
			}
			&:nth-of-type(3){
				animation-delay: calc($transition * $footer__subsection-factor * 3);
			}
			&:nth-of-type(4){
				animation-delay: calc($transition * $footer__subsection-factor * 4);
			}
			&:nth-of-type(5){
				animation-delay: calc($transition * $footer__subsection-factor * 5);
			}
			&:nth-of-type(6){
				animation-delay: calc($transition * $footer__subsection-factor * 6);
			}
		}
		&link{
			@extend .link;

			// mods
			&._active,
			&:hover{
				color: white;
			}
			&._active{
				@extend %flash;
			}
		}
		&link._active + &dots{
			visibility: visible;
		}
		&dots{
			margin: .75rem * -.95rem;
			visibility: hidden;

			display: flex;
			justify-content: center;
		}
		&dot{
			@extend .section__dot;

			size: .125rem;
			margin: 0 .125rem;

			cursor: default;

			// mods
			&:not(._active){
				opacity: .3;
			}
		}
		&copyright,
		&social{
			flex: 1;
		}
		&copyright{
			display: flex;
			align-items: center;
		}
		&logo{
			@extend .link;

			fill: currentColor;

			display: flex;

			&:hover{
				color: white;
			}

			// subelements
			&-{
				&icon{
					max-size: 6.25rem 2rem;
					margin: .25em * * .5rem;
				}
			}
		}
		&dev{
			// subelements
			&-{
				&name{
					@extend .link;
					@extend .link--dark;

					font-weight: bold;
				}
			}
		}
		&social{
			display: flex;
			justify-content: flex-end;
		}
	}
}

@keyframes footerItem{
	from{
		transform: translateY(100%);
	}
	to{
		opacity: 1;
	}
}
