.footer{

	padding: 5vh *;

	font-size: $font-size--secondary;
	letter-spacing: .05em;

	background: $c-primary;
	color: $c-primary-text;

	// mods

	// elements
	&__{
		&content{
			@extend .section__content;

			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&section{
			color: white;

			// subelements
			&-{
				&arrow{
					size: 1rem .5rem;

					fill: currentColor;
				}
			}
		}
		&menu{
			@extend .menu;

			width: 100%;

			text-align: center;

			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&link{
			@extend .menu__link;

			// subelements
			&:not(:last-child) {
				margin: initial;
			}
		}
		&dots{
			margin: .75rem * -.95rem;

			display: flex;
			justify-content: center;
		}
		&dot{
			@extend .section__dot;

			size: .2rem;
			margin: 0 .125rem;

			cursor: default;
		}
		&copyright{
			display: flex;
			align-items: center;
		}
		&logo{
			@extend .link;

			fill: currentColor;

			display: flex;

			// subelements
			&-{
				&icon{
					max-size: 6.25rem 2rem;
					margin: * * * 1rem;
				}
			}
		}
		&dev{

			// subelements
			&-{
				&name{
					@extend .link;
					@extend .link--dark;

					font-weight: bold;
				}
			}
		}
	}
}
