.footer{

	padding: 5vh *;

	font-size: $font-size--secondary;

	background: $c-primary;
	color: $c-primary-text;

	// mods

	// elements
	&__{
		&content{
			@extend .section__content;

			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&copyright{
			display: flex;
			align-items: center;
		}
		&logo{
			@extend .link;

			fill: currentColor;

			display: flex;

			// subelements
			&-{
				&icon{
					max-size: 6.25rem 2rem;
					margin: * * * 1rem;
				}
			}
		}
		&dev{

			// subelements
			&-{
				&name{
					@extend .link;
					@extend .link--dark;

					font-weight: bold;
				}
			}
		}
	}
}
