.g-page{
	min-height: 100%;
	margin: initial;
	padding: initial;

	font-size: ;
	font-family: ;

	background: $c-primary;

	display: flex;
	flex-direction: column;

	// elements
	&__{
		&content{
			flex: 1;
			min-height: 100%;

			/*transition:
				visibility 0s $transition__preloader,
				opacity $transition__preloader $transition__preloader;*/

			display: flex;
			flex-direction: column;
			justify-content: space-between;

			// siblings
			.preloader:not(._hidden) + &{
				visibility: hidden;
				opacity: 0;
			}
		}
		&main{
			flex: 1;

			color: white;

			display: flex;
			flex-direction: column;

			position: relative;
		}
	}
}
