.header{

	box-sizing: border-box;
	min-height: $header__height;

	color: $c-primary-text;

	// elements
	&__{
		&content{
			@extend .section__content;

			padding: 5vh *;

			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&logo{

			display: flex;

			// subelement
			&-{
				&icon{
					max-size: 11.25rem 3.25rem;
				}
			}
		}
		&nav{
			display: flex;
			align-items: center;
		}
		&phone{
			margin-left: 5vw;
		}
	}
}
