.header{

	color: $c-primary-text;

	position: relative;

	// elements
	&__{
		&content{
			@extend .section__content;

			box-sizing: border-box;
			padding: 5vh *;

			display: flex;
			align-items: center;
			justify-content: space-between;

			@media (--h-tablet){
				min-height: $header__height--lower;
				padding: 3vh *;
			}
		}
		&logo{

			display: flex;

			// subelement
			&-{
				&icon{

					@media (--tablets){
						size: 11.25rem 3.25rem;
					}

					@media (--tablets-p){
						size: 8.75rem 2.5rem;
					}
				}
			}
		}
		&nav{
			display: flex;
			align-items: center;
		}
		&phone{
			margin-left: 5vw;
		}
	}
}
