.quote{

	text-align: center;

	display: flex;
	align-items: center;

	@media (--desktops) and (--higher){
		flex-direction: column;
	}

	@media (--tablets), (--lower){
		white-space: nowrap;
		justify-content: center;
	}

	// elements
	&__{
		&content{
			font-family: $font-family--quote;
			font-size: 1.75rem;
			line-height: 1.3;

			@media (--desktops) and (--higher){
				flex: 1;
			}

			@media (--tablets) or (--lower){
				display: flex;
			}
		}
		&text{
			position: relative;

			letter-spacing: .025em;

			@media (--tablets) or (--lower){
				font-size: .7em;
			}

			// pseudoelements
			&::before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				margin: * .5em .125em *;

				size: 1.5rem .125rem;

				background: currentColor;
			}
		}
		&author{

			letter-spacing: .05em;
			line-height: 1;

			@media (--desktops) and (--higher){
				margin-top: .4rem;
			}

			@media (--tablets) or (--lower){
				margin-left: .5em;

				font-size: .7em;

				// pseudoelements
				&::before{
					content: '(';
				}
				&::after{
					content: ')';
				}
			}
		}
	}
}
