%bg-lines{
	@mixin bg-lines .6;
}
%section{
	position: absolute 0;

	flex: 1;
	max-width: 100%;
	width: 100%;

	overflow: hidden;

	display: flex;
	flex-direction: column;
}
%center-abs{
	position: absolute 50% * * 50%;
	transform: translate(-50%, -50%);
}
%button{
	@extend .link;

	box-sizing: border-box;
	padding: .875rem 2.125rem;
	border: 1px solid currentColor;

	font-size: .875rem;
	font-weight: 700;
	line-height: 1;

	text-transform: uppercase;

	opacity: .3;

	transition: ;

	// mods
	&:hover{
		opacity: 1;
		cursor: pointer;
	}
}
