
// types
$font-family--sans-serif: PT Sans, Open Sans, Arial, sans-serif;
$font-family--serif: More, Times New Roman, Times, serif;
$font-family--condensed: A Rubrica Xt Cn, Open Sans Condensed, 'Arial Narrow', $font-family--sans-serif;

// abastract
$font-family--primary: $font-family--sans-serif;
$font-family--quote: $font-family--serif;

// props
$font-family: $font-family--primary;
$font-size: 1.125rem;

$font-size--secondary: .875rem;
