.timeline{

	// test
	position: absolute calc(15rem + 10vh) 0 * 0;
	z-index: $z-higher;

	margin-top: 3rem;

	font-family: $font-family--serif;
	font-size: 1.45rem;
	font-weight: 300;

	text-align: center;

	display: flex;
	align-items: center;

	@media (--h-tablet){
		margin-top: -2rem;
	}

	// elements
	&__{
		&label{
			min-width: 8rem;
			padding: * .5rem * 4rem;

			white-space: nowrap;
		}
		&wrap{
			width: calc(100% - 25rem);
			padding-top: 5.25rem;
			margin-top: -5.25rem;

			overflow-x: hidden;
		}
		&list{
			transition-property: transform, left;
			transition-duration: $trsn, $transition;

			display: flex;
			align-items: center;

			position: relative;
		}
		&year{
			min-width: 8rem;

			text-align: center;

			opacity: .2;

			transition: ;

			position: relative;

			// mods
			&._preactive{
				opacity: .6;
			}
			&._prepreactive{
				opacity: .4;
			}
			&._active{
				opacity: 1;

				// subelements
				&::before{
					min-height: 3.25rem;

					transition-delay: calc($trsn / 2);
					transition-duration: $trsn;

					@media (--h-tablet){
						min-height: 2rem;
					}
				}
			}
			&:hover{
				opacity: .8;
				cursor: pointer;
			}

			// subelements
			&::before{
				content: '';
				position: absolute * * 100% 50%;

				width: 1px;
				min-height: 0;
				margin: 1rem auto;

				background: currentColor;

				transition-duration: calc($trsn / 2);
			}
		}
		&continue{
			@extend %flash;

			margin: * 3rem;

			white-space: nowrap;

			animation-delay: .3s;

			@media (--tablets-only){
				margin: * 1rem;
			}
		}
	}
}
