@keyframes projectsShowItem{
	from{
		opacity: .3;
		transform: scale(.9);
	}
}
$project__height: $content__height;
.projects{

	flex: 1;

	fill: currentColor;

	display: flex;
	flex-direction: column;

	// mods
	&._small &__project{
		min-height: calc($project__height / 2);
	}

	// elements
	&__{
		&list{
			flex: 1;
			display: flex;
			align-items: stretch;
			flex-wrap: wrap;
			overflow: hidden;
		}
		&project{
			@extend .link;

			float: left;

			width: 25%;
			margin: * -.1px;

			animation-name: projectsShowItem;
			animation-fill-mode: forwards;
			animation-duration: 1s;
			transition: 1s;
			will-change: min-height, transform, opacity;

			overflow: hidden;
			position: relative;
			display: flex;
			align-items: center;

			// mods
			&._carousel{
				min-height: $project__height;

				// mods
				// &:hover{
				// 	transform: scaleX(1.2);
				// }
			}
			&._square{
				min-height: calc($project__height / 2);
			}
		}
		&bg{
			position: absolute -.5rem;

			background-position: center;
			background-size: cover;
			filter: blur(10px);
			will-change: filter, transform;

			// subelements
			&::after{
				content: '';
				position: absolute 0;

				background: $c-primary;
				opacity: .5;
			}
		}
		&logo,
		&loupe{
			z-index: $z-higher;
		}
		&logo,
		&loupe,
		&bg::after{
			will-change: opacity;
		}
		&logo{
			max-width: 70%;
			height: auto;
			margin: * auto;
		}
		&loupe{
			@extend .loupe;
		}
		&icon{
			@extend .loupe__icon;
		}
		&more{
			margin: 1rem * -calc(1rem + .875rem);

			font-size: .875rem;
			font-weight: 700;
			line-height: 1;

			text-align: center;
			text-decoration: none;
			text-transform: uppercase;

			color: $c-primary-text;
			cursor: pointer;
		}
		// hover
		&bg,
		&bg::after,
		&logo{
			transition: ;
		}
		&project:hover &{
			&bg{
				filter: none;
				transform: scale(1.05);
			}
			&logo,
			&bg::after{
				opacity: 0;
			}
			&loupe{
				@extend .loupe--hover;
			}
		}
	}
}
