@keyframes projectsShowItem{
	to{
		opacity: 1;
		transform: none;
	}
}

$project__height: $content__height;
.projects{

	// flex: 1;
	max-width: 100%;
	width: 100%;

	fill: currentColor;

	display: flex;
	flex-direction: column;

	// MODS
	//

	// Carousel
	&._carousel{
		// @extend %section;

		overflow: visible;
	}
	// animation
	// &._carousel.anim-enter &__{
	// 	&project{
	// 		transform: scale(.8);
	// 	}
	// }
	// &._carousel.anim-enter-active &__{
	// 	&project{
	// 		transform: scale(1);

	// 		transition-delay: 2s;
	// 		transition-duration: 2s;
	// 	}
	// }

	// Projects height
	&._grid &__project{
		min-height: calc($project__height / 2);
	}
	&._carousel &__project{
		min-height: $project__height;
	}

	//
	// MODS END

	// elements
	&__{
		&underscroll{
			flex: 1;

			display: flex;
			flex-direction: column;
		}
		&scroll{
			flex: 1;
		}
		&wrap{
			// mods
			&:not(._all){
				max-height: ref(.projects._carousel .projects__project, min-height);
			}
			&._all{
				max-height: calc(100vh * 3);

				transition: max-height calc($trsn * 3);
			}
		}
		&list{
			flex: 1;
			display: flex;
			align-items: stretch;

			// mods
			&._grid{
				flex-wrap: wrap;
			}
			&._carousel{
				transition: ;
			}
		}
		&project{
			@extend .link;

			float: left;

			min-width: 25%;
			width: 25%;
			margin: * -.1px;

			opacity: .3;
			transform: scale(.9);

			animation-name: projectsShowItem;
			animation-fill-mode: forwards;
			animation-duration: $trsn;
			will-change: min-height, transform, opacity;

			overflow: hidden;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			cursor: pointer;

			// mods
			&._open{
				z-index: 90999999999999;
				overflow: visible;
			}
		}
		&bg{
			position: absolute -.5rem;
			z-index: $z-under;

			filter: blur(5px);
			background-position: center;
			background-size: cover;

			will-change: filter, transform, top, left, min-width, min-height, opacity;

			// mods
			&._open{
				z-index: $z-over-everything;

				position: fixed $header__height * * 0 !important;
				max-size: 100% !important;
				size: 100%;
			}
			&._hidden{
				opacity: 0;
				transition: calc($transition * 2);
			}

			// subelements
			&::after{
				content: '';
				position: absolute 0;

				background: $c-primary;
				opacity: .5;
			}
		}
		&logo,
		&loupe{
			z-index: $z-higher;
		}
		&logo,
		&loupe,
		&bg::after{
			will-change: opacity;
		}
		&logo{
			width: 60%;
			height: auto;

			fill: currentColor;

			// mods
			&[data-icon='logo-gazprom']{
				margin: -20% * *;
			}
			&[data-icon='logo-eek']{
				width: 40%;
			}
			&[data-icon='logo-nokia'],
			&[data-icon='logo-bork']{
				width: 50%;
			}
		}
		&loupe{
			@extend .loupe;
		}
		&icon{
			@extend .loupe__icon;
		}
		&more{
			position: relative;
			z-index: $z-higher;

			margin: 1rem * -calc(1rem + .875rem);

			font-size: .875rem;
			font-weight: 700;
			line-height: 1;
			letter-spacing: .1em;

			text-align: center;
			text-decoration: none;
			text-transform: uppercase;

			color: $c-primary-text;
			cursor: pointer;

			transition: ;

			// mods
			&._hidden{
				visibility: hidden;
				opacity: 0;
			}
		}
		// hover
		&bg,
		&bg::after,
		&logo{
			transition: ;
		}
		&project:not(._open):hover &{
			&bg{
				filter: none;
				transform: scale(1.05);
			}
			&logo,
			&bg::after{
				opacity: 0;
			}
			&loupe{
				@extend .loupe--hover;
			}
		}
	}
}
