.phone{
	@extend .link;

	position: relative;
	display: flex;
	align-items: center;

	// pseudoclasses

	/* &:hover &__{
		&button{
			background: $c-primary--bright;
			box-shadow: 0 0 0 .5rem $c-primary--bright;
		}
		&note{
			opacity: 1;
		}
	} */

	// elementsb
	&__{
		&button{
			size: 1.5rem;
			margin: * .5rem * *;

			border-radius: ;

			transition:
				background $transition,
				box-shadow calc($transition * 3);

			display: inline-flex;
		}
		&icon{
			max-size: 1.125rem;
			transform: translateY(-.125em);
			margin: auto;
		}
		&prefix,
		&number{
			font-family: $font-family--condensed;
			font-weight: 900;
			letter-spacing: .05em;
		}
		&icon,
		&number,
		&note{
			fill: currentColor;
			color: white;
		}
		&note{
			position: absolute 100% 0 * *;

			font-size: $font-size--secondary;
			font-weight: 700;

			opacity: 0;
			transition: calc($transition * 3) ease-out;
		}
	}
}
