.phone{
	position: relative;
	display: flex;
	align-items: center;

	@media (--tablets-p){
		font-size: 1.5rem;
	}

	// mods
	&:hover{

		@media (--tablets-p){
			color: white;
		}
	}
	&:hover &__{
		&button{
			background: $c-primary--bright;
			box-shadow: 0 0 0 .5rem $c-primary--bright;

			transition:
				background $transition,
				box-shadow calc($transition * 3);

			@media (--tablets-p){
				color: white;
			}
		}
		&note{
			opacity: 1;
		}
	}

	// elementsb
	&__{
		&value{
			@extend .link;
		}
		&button{
			@extend .link;

			size: 1.5rem;

			border-radius: ;

			transition: calc($transition * 3);

			display: inline-flex;
			align-items: center;
			justify-content: center;

			@media (--tablets){
				transform: translate(-50%, 10%);
			}

			@media (--tablets-p){
				transform: translate(0, 10%);
				margin-right: .5rem;
			}
		}
		&icon{
			max-size: 1.125rem;

			@media (--tablets-p){
				max-size: 1.5rem;
			}
		}
		&prefix,
		&number{
			font-family: $font-family--condensed;
			font-weight: 900;
			letter-spacing: .05em;
		}
		&icon,
		&number,
		&note{
			fill: currentColor;

			@media (--tablets){
				color: white;
			}
		}
		&note{
			position: absolute 100% 0 * *;

			font-size: $font-size--secondary;
			font-weight: 700;
			line-height: 1;
			letter-spacing: .05em;

			text-decoration: none;

			opacity: 0;
			transition: calc($transition * 3) ease-out;
		}
	}
}
