.video{
	@extend %section;

	// animation

	// mods
	&--closed &__{
		&full{
			visibility: hidden;
			opacity: 0;
		}
	}
	&--open &__{
		&preview{
			opacity: 0;
			visibility: hidden;
		}
		&title,
		&button{
			transform: scale(.8);
		}
	}

	// pseudoelements
	&::before,
	&::after{
		content: '';
		position: absolute * 0;
		z-index: calc($z-higher * 10);

		min-height: 5vh;

		background: $c-primary;

		transition: min-height $transition;
	}
	&::before{
		top: 0;
	}
	&::after{
		bottom: 0;
	}

	// mods
	&:hover{
		&::before,
		&::after{
			min-height: 0;
		}
	}
	&:hover &__button{
		background: $c-primary--bright;
	}

	// elements
	&__{
		&bg{
			@extend %center-abs;
		}
		&full{
			position: fixed 0;
			z-index: $z-over-everything;

			background: $c-primary;

			transition: 1s;

			display: flex;
			align-items: center;
		}
		&source{
			width: 100%;
			height: auto;
		}
		&preview{
			@extend %bg-lines;

			flex: 1;

			position: relative;
			z-index: $z-higher;

			min-height: 100%;

			cursor: pointer;

			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&preview,
		&title,
		&button{
			transition: ;
		}
		&title{
			@extend .title;
		}
		&button{
			size: 5rem;
			margin: 3rem auto -8rem;

			border-radius: ;

			transition-delay: $transition;

			background: color(white a(.1));
			fill: currentColor;

			display: flex;
		}
		&icon{
			max-size: 2rem 3rem;
			margin: auto;
			transform: translateX(5%);
		}
	}
}
