*::-webkit-media-controls-panel{
	display: none !important;
	-webkit-appearance: none;
}
*::-webkit-media-controls-start-playback-button{
	display: none !important;
	-webkit-appearance: none;
}
.video{
	@extend %section;
	@mixin responsive-bg about_onas_5, jpg;

	background-size: cover;
	background-position: center;

	// animation

	// mods
	&--closed &__{
		&full{
			visibility: hidden;
			opacity: 0;
		}
	}
	&--open &__{
		&preview{
			opacity: 0;
			visibility: hidden;
		}
		&title,
		&button{
			transform: scale(.8);
		}
	}

	// elements
	&__{
		&bg{
			@extend %center-abs;

			min-size: 100%;
			size: auto;
		}
		&full{
			position: fixed 0;
			z-index: $z-over-everything;

			background: $c-primary;

			transition: 1s;

			display: flex;
			align-items: center;
		}
		&source{
			width: 100%;
			height: auto;
		}
		&preview{
			@extend %bg-lines;

			flex: 1;

			position: relative;
			z-index: $z-higher;

			box-sizing: border-box;
			min-height: 100%;

			cursor: pointer;

			display: flex;
			flex-direction: column;
			justify-content: center;

			// pseudoelements
			&::before,
			&::after{

				@media (--tablets){
					content: '';
					position: absolute * 0;
					z-index: calc($z-higher * 10);

					min-height: 5vh;

					background: $c-primary;

					transition: min-height $transition;
				}
			}
			&::before{

				@media (--tablets){
					top: 0;
				}
			}
			&::after{

				@media (--tablets){
					bottom: 0;
				}
			}

			// mods
			&:hover{
				&::before,
				&::after{

					@media (--tablets){
						min-height: 0;
					}
				}
			}
		}
		&preview:hover &button{
			background: $c-primary--bright;
		}
		&preview,
		&title,
		&button{
			transition: ;
		}
		&title{
			@extend .title;
		}
		&button{
			size: 5rem;
			margin: * auto;

			border-radius: ;

			transition-delay: $transition;

			background: color(white a(.1));
			fill: currentColor;

			display: flex;
			align-items: center;
			justify-content: center;

			@media (--tablets){
				margin: 3rem * 8rem;
			}

			@media (--tablets-p){
				margin: 1rem * *;
			}
		}
		&icon{
			max-size: 2rem 3rem;
			margin: auto;
			transform: translateX(5%);
		}
	}
}
