.video{

	position: relative;

	// pseudoelements
	&::before,
	&::after{
		content: '';
		position: absolute * 0;
		z-index: $z-higher;

		background: $c-primary;

		transition: min-height $transition;
	}
	&::before{
		top: 0;
	}
	&::after{
		bottom: 0;
	}

	// mods
	&--paused{
		&::before,
		&::after{
			min-height: 10vh;
		}
	}
	&--played &__{
		&preview{
			opacity: 0;
			visibility: hidden;
		}
		&info{
			transform: scale(.8);
		}
	}
	&:hover{
		&::before,
		&::after{
			min-height: 0;
		}
	}
	&:hover &__button{
		background: $c-primary--bright;
	}

	// elements
	&__{
		&source{
			position: absolute 50% * * 50%;
			transform: translate(-50%, -50%);
		}
		&preview{
			flex: 1;

			position: relative;
			z-index: $z-higher;

			min-height: 100%;

			background: color($c-primary a(.4));

			cursor: pointer;

			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&preview,
		&info{
			transition: ;
		}
		&title{
			@extend .title;
		}
		&button{
			size: 5rem;
			margin: 3rem auto -8rem;

			border-radius: ;

			transition: calc($transition * 2);

			background: color(white a(.1));
			fill: currentColor;

			display: flex;
		}
		&icon{
			max-size: 2rem 3rem;
			margin: auto;
			transform: translateX(5%);
		}
	}
}
