.person{

	position: relative;

	// elements
	&__{
		&quote{
			@ref .quote__content, font-family;
			@ref .quote__content, font-size;
			@ref .quote__content, line-height;

			max-width: 50rem;
			margin: * auto;

			// pseudoelements
			&::before{
				@extend .quote__text::before;
			}
		}
		&name{
			line-height: 2;
		}
		&post{
			font-size: 1rem;
			font-weight: 700;

			opacity: .3;
		}
		&button{
			@extend %button;

			position: absolute * 5% 4rem *;
			z-index: $z-higher;

			letter-spacing: .1em;
		}
	}
}
