.news{
	flex: 1;
	min-height: 100%;

	// mods
	.slide--news:last-child &{
		min-height: 100%;
		flex: 1;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	// elements
	&__{
		&link{
			@extend .link;

			text-decoration: underline;

			display: flex;
			align-items: center;

			// mods
			&:not(:only-child){
				margin-top: 1rem;

				@media (--tablets-p){
					display: none;
				}
			}
			&:only-child{
				align-self: center;
			}
			&:hover{
				text-decoration: none;
			}
		}
		&arrow{
			size: 1rem .5rem;
			margin: * .5rem;

			fill: currentColor;
		}
		&social{
			@extend .social__link;

			background: $c-blue;

			// subelements
			&-icon{
				@extend .social__icon;

				fill: currentColor;
			}
		}
	}
}
