@keyframes projectContent{
	from{
		transform: translateX(-100%);
	}
}

@keyframes projectBg{
	to{
		opacity: 1;
	}
}

@keyframes rotate{
	to{
		transform: rotate(360deg);
	}
}

// Component
.project{
	@extend %section;

	flex: 1;
	height: 100%;

	background-position: center;
	background-size: cover;

	fill: currentColor;

	display: flex;
	align-items: stretch;

	// elements
	&__{
		&wrap{
			@extend %section;
			z-index: $z-higher;
			margin-bottom: -1px;

			overflow: hidden;

			@media (--tablets){
				height: calc(100vh - $header__height);
			}

			@media (--h-tablet) and (--tablets){
				height: calc(100vh - $header__height--lower);
			}
		}
		&bg{
			@extend %shakeBg;

			position: absolute 0;

			background-size: cover;

			transition: 1s;

			display: flex;

			// mods
			&:not(._active){
				opacity: 0;
				visibility: hidden;
			}

			// subelements
			&::after{
				position: relative;
				z-index: $z-under;
				size: 3rem;
				margin: auto;
				border: .25rem solid;
				border-color: $c-secondary color($c-secondary a(.2));

				border-radius: 50%;

				animation-name: rotate;
				animation-duration: calc($transition * 10);
				animation-iteration-count: infinite;
			}
		}
		&content{

			@media (--tablets){
				position: relative;

				box-sizing: border-box;
				width: 25vw;
				height: 100%;
				min-width: 25rem;
				padding: * 2rem 5vh calc(2rem + 2vw);
				margin-top: -2px;

				font-size: 1rem;

				background: color($c-bg a(.4));

				animation-fill-mode: forwards;
				animation-name: projectContent;
				animation-delay: $trsn;
				animation-duration: $trsn;
				transition: ;

				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
		}
		&logotype{

			@media (--tablets-p){
				position: absolute 0 0 *;

				box-sizing: border-box;
				height: 3.5rem;
				padding: .5rem 1rem;

				background: color($c-bg a(.4));

				display: flex;
				justify-content: space-between;
			}
		}
		&logo{
			box-sizing: border-box;

			@media (--tablets){
				width: 100%;
				padding: * 25%;
			}

			@media (--tablets-p){
				width: auto;
				height: 100%;
				max-size: 100%;
			}

			@media (--h-tablet-with-bar) and (--tablets){
				max-height: 5rem;
			}

			// mods
			&[data-icon="logo-nokia"]{

				@media (--tablets-p){
					width: 50%;
				}
			}
		}
		&data{

			@media (--tablets-p){
				position: absolute * 0 0;
				box-sizing: border-box;
				padding: .5rem 1rem;

				text-align: center;

				background: color($c-bg a(.4));
			}
		}
		&square{
			font-weight: 700;
		}
		&text{
			margin: 1em *;
		}
		&square,
		&date,
		&address,
		&text{

			@media (--tablets){
				opacity: .4;

				transition: ;
			}
		}
		&content:hover &{
			&square,
			&date,
			&address,
			&text{

				@media (--tablets){
					opacity: 1;
				}
			}
		}
		&slogan{
			margin: 2rem *;

			font-size: 1.875rem;
			font-weight: 700;
			letter-spacing: .05em;

			text-transform: uppercase;

			@media (--h-tablet-with-bar){
				margin: 1.5rem *;
			}
		}
		&dots{
			display: flex;

			@media (--tablets-p){
				position: absolute * 0;
				bottom: 5rem;

				justify-content: center;
			}
		}
		&dot{
			size: .5rem;

			border-radius: 50%;
			background: white;
			opacity: .4;

			cursor: pointer;

			transition: 1s;

			// mods
			&:not(:first-child){
				margin-left: 1rem;
			}
			&._active,
			&:hover{
				opacity: 1;
			}
		}
		&nav{
			margin: 3.75rem 4rem * *;

			display: flex;
			align-items: center;
			justify-content: space-between;

			@media (--h-tablet-with-bar){
				margin-top: 1.5rem;
			}
		}
		&arrow,
		&all{

			@media (--tablets){
				opacity: .4;

				transition: ;

				// mods
				&:not(._disabled):hover{
					opacity: 1;
					cursor: pointer;
				}
			}
		}
		&all{
			@extend .link;

			font-weight: 700;
			letter-spacing: .1em;

			text-transform: uppercase;
		}
		&arrow{

			transition: ;

			display: flex;
			align-items: center;

			// mods
			&._prev{
				transform: rotate(180deg);
			}

			// subelements
			&-icon{
				size: 1rem .5rem;
			}
		}
	}
}
