.project{

	flex: 1;

	background-position: center;
	background-size: cover;

	fill: currentColor;

	// mods

	// elements
	&__{
		&content{
			box-sizing: border-box;
			width: 30vw;
			min-width: 20rem;
			min-height: 100%;
			padding: 5vh 2rem 5vh calc(2rem + 2vw);

			background: color($c-bg a(.4));

			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		&nav{
			padding: * 2rem * *;

		}
		&arrow{
			size: 1rem .5rem;

			// mods
			&._prev{
				transform: rotate(180deg);
			}
		}
	}
}
