$slide-transition: 1s;
.slide{

	position: absolute 0;
	z-index: $z-higher;
	flex: 1;
	height: auto;

	transition: calc($slide-transition / 2);
	will-change: opacity;

	overflow: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;

	// MODS START
	//

	// animation
	&._active &__{
		&bg{
			transform: scale(1.1);
		}
		&footer{
			transition-delay: calc($slide-transition / 2);
		}
	}
	&:not(._active){
		opacity: 0;
		visibility: hidden;
	}
	&:not(._active) &__{
		&footer{
			transform: translateY(100%);
		}
	}
	&:not(._active):not(&--history) &__{
		&bg{
			opacity: 0;
			filter: blur(2px);
		}
		&info{
			opacity: 0;
			transform: translateX(calc(-50vw - 50%));
		}
		&text{
			transform: translateX(-100%);
		}
	}
	&--history:not(._active) &__{
		&info{
			opacity: 0;
			transform: translateX(-100%);
		}
	}
	&._active:not(&--history) ~ & &__{
		&info{
			transform: translateX(calc(50vw + 50%));
		}
		&text{
			transform: translateX(100%);
		}
	}
	&--history._active ~ & &__{
		&info{
			transform: translateX(100%);
		}
	}

	// types
	&--person{
		justify-content: flex-end;

		padding-bottom: 4rem;
	}
	&--person &__{
		&mask{
			&::before{
				@mixin bg-lines .2;
			}
			&::after{
				opacity: .75;
			}
		}
		&bg{
			top: 10%;

			@media (--h-desktop){
				top: 30%;
			}
		}
		&info{
			display: flex;
			align-items: flex-end;
			justify-content: center;

			@media (--tablets-p){
				flex-direction: column;
				align-items: stretch;
				justify-content: space-between;
			}
		}
	}
	&--gallery &__{
		&info{
			max-width: none;
			width: 100%;
		}
	}
	&--news:last-child &__{
		&info{
			display: flex;
			flex-direction: column;
		}
	}
	&--mediacenter &__{
		&info{
			margin-top: 1rem;
		}
	}

	//
	// MODS END

	// wrapper
	&s{
		&__{
			&video{
				&::before,
				&::after{
					content: '';
					position: absolute 0;
				}
				&::after{
					background: color($c-blue--bright a(.3));
				}
			}
			&video-source{
				@extend %center-abs;

				z-index: $z-under;

				min-size: 100%;
			}
		}
	}

	// elements
	&__{
		&bg,
		&info,
		&text{
			transition: $slide-transition;
		}
		&footer{
			transition: calc($slide-transition / 2);
		}
		&footer,
		&info{
			position: relative;
			z-index: calc($z-higher * 2);
		}
		&mask{
			position: absolute 0;
			z-index: $z-higher;

			// pseudoelements
			&::before,
			&::after{
				content: '';
				position: absolute -1px 0;
			}
			&::before{
				@extend %bg-lines;

				z-index: $z-under;
			}
			&::after{
				z-index: calc($z-under * 2);

				background: color($c-bg--secondary a(.2));
			}
		}
		&bg{
			position: absolute 0;
			z-index: calc($z-under * 3000000000);

			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;

			will-change: opacity, filter;
		}
		&info{
			flex: 1;
			max-width: 80rem;
			// width: 100%;
			margin: 10vh auto 1rem;

			white-space: pre-wrap;
			letter-spacing: .05em;

			text-align: center;

			will-change: transform, opacity;

			@media (--tablets-p){
				box-sizing: border-box;
				width: 100%;
				padding: * 1rem;
				margin-bottom: 2rem;

				overflow-y: auto;
				overflow-x: hidden;
			}

			@media (--phones){
				white-space: normal;
			}

			@media (--h-phone), (--phones){
				margin-top: 1rem;
			}
		}
		&text{
			max-width: 40rem;
			margin: * auto;

			@media (--phones){
				font-size: 1rem;
				line-height: 1.2;
			}
		}
		&title{
			@extend .title;

			line-height: 1;

			@media (--desktops) and (--h-desktop){
				margin-bottom: 3rem;
			}

			@media (--phones-and-tablets), (--h-tablet){
				margin-bottom: 1rem;
			}
		}
		&section{
			margin: * * 1em;

			font-size: .75rem;
			font-weight: 700;

			text-transform: uppercase;

			color: $c-blue-text--light;
		}
		&date{
			margin: * * 1rem;

			font-weight: bold;

			text-transform: uppercase;
			color: color(white a(.3));
		}
		&footer{
			box-sizing: border-box;
			width: 100%;

			background: color($c-primary a(.3));

			will-change: transform;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			@media (--desktops) and (--h-desktop){
				min-height: 8rem;
				padding: 1rem *;
			}

			@media (--tablets-only), (--h-tablet){
				min-height: 1.5rem;
				padding: .5rem *;
			}

			// subelement
			&-{
				&content{

					@media (--desktops) and (--h-desktop){
						flex: 1;
						max-width: 50rem;
					}

					@media (--tablets-only), (--h-tablet){
						padding: * .5rem;
					}
				}
			}
		}
	}
}
