@font-face{
	font-family: PT Sans;
	font-weight: 400;
	font-style: normal;
	src: url(assets/fonts/PTSans.woff);
}

@font-face{
	font-family: PT Sans;
	font-weight: 700;
	font-style: normal;
	src: url(assets/fonts/PTSans-Bold.woff);
}

@font-face{
	font-family: PT Sans Pro;
	font-weight: 900;
	font-style: normal;
	src: url(assets/fonts/PTSansPro-CondensedBlack.woff);
}

@font-face{
	font-family: ARubricaXtCn;
	font-weight: 400;
	font-style: normal;
	src:
		url(assets/fonts/ARubricaXtCn.woff2),
		url(assets/fonts/ARubricaXtCn.woff);
}

@font-face{
	font-family: More;
	font-weight: 400;
	font-style: normal;
	src: url(assets/fonts/FFMorePro-CondBook.woff);
}
