.section{
	position: absolute 0;

	flex: 1;
	max-width: 100%;
	width: 100%;

	overflow: hidden;

	display: flex;
	flex-direction: column;

	// animation
	// &.anim-enter{
	// 	opacity: 0;
	// }
	// &.anim-enter.anim-enter-active{
	// 	opacity: 1;
	// }
	// &.anim-leave{
	// 	display: none;
	// }

	// elements
	&__{
		&content{
			box-sizing: ;
			max-width: 1280px;
			padding: * 3rem;
			margin: * auto;
		}
		&wrapper{
			flex: 1;
			display: flex;
			flex-direction: column;
		}
		&pag{
			position: absolute * 0 0;
			z-index: $z-higher;
			margin: 1rem *;

			transition:
				transform $transition,
				opacity $transition--long calc($transition--long / 4);

			display: flex;
			justify-content: center;
		}
		&dot{
			size: .5rem;
			margin: * .5rem;

			background: white;
			border-radius: ;

			transition: 1s;

			// mods
			&:not(._active){
				opacity: .5;
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
}
