@import '../modules/u-vars/media.scss';
@import '../modules/u-vars/colors.scss';
@import '../modules/u-vars/size.scss';
@import '../modules/u-vars/fonts.scss';
@import '../modules/u-vars/props.scss';
@import '../modules/u-vars/z-index.scss';
@import '../modules/u-vars/animations.scss';
@import '../modules/u-vars/mixins.scss';
@import '../modules/u-vars/extends.scss';

@import '../modules/g-doc/g-doc.scss';
@import '../modules/g-fonts/g-fonts.scss';
@import '../modules/g-page/g-page.scss';
@import '../modules/g-errors/g-errors.scss';

@import '../modules/b-svg/b-svg.scss';
@import '../modules/b-grid/b-grid.scss';

@import '../modules/section/section.scss';
@import '../modules/link/link.scss';
@import '../modules/title/title.scss';

@import '../modules/preloader/preloader.scss';
@import '../modules/header/header.scss';
@import '../modules/main/main.scss';
@import '../modules/menu/menu.scss';
@import '../modules/phone/phone.scss';
@import '../modules/footer/footer.scss';
@import '../modules/social/social.scss';
@import '../modules/video/video.scss';
@import '../modules/quote/quote.scss';
@import '../modules/callback/callback.scss';
@import '../modules/error/error.scss';
@import '../modules/projects/projects.scss';
@import '../modules/project/project.scss';
@import '../modules/arrow/arrow.scss';
@import '../modules/slick/slick.scss';
@import '../modules/slide/slide.scss';
@import '../modules/numbers/numbers.scss';
@import '../modules/clients/clients.scss';
@import '../modules/person/person.scss';
@import '../modules/gallery/gallery.scss';
@import '../modules/mediacenter/mediacenter.scss';
@import '../modules/loupe/loupe.scss';

// @import '../node_modules/slick-carousel/slick/slick.css'
