.preloader{

	position: fixed 0;
	z-index: $z-over-everything;

	background: $c-primary;

	display: flex;

	animation-name: preloaderFade;
	animation-delay: 0s; //$transition__preloader;
	animation-duration: 0s; //$transition__preloader;
	animation-fill-mode: forwards;

	/* --- Transition
	transition:
		opacity calc($transition__preloader * .5) $transition__preloader,
		visibility 0s calc($transition__preloader * 1.5);

	// mods
	&._hidden{
		opacity: 0;
		visibility: hidden;

		// elements
		path{
			transform: none !important;
			opacity: 1;
		}
	}
	*/

	// elements
	svg{
		overflow: visible;
	}
	path{
		animation-duration: $transition__preloader;

		&:first-child{
			transform-origin: right bottom;
			animation-name: logoFade, logoFirst;
		}
		&:nth-child(2){
			transform-origin: left top;
			animation-name: logoFade, logoSecond;

		}
		&:last-child{
			transform-origin: right top;
			animation-name: logoFade, logoThird;
		}

		/* --- Transition
		transition: $transition__preloader;
		opacity: .2;

		// pseudoselectors
		&:first-child{
			transform-origin: right bottom;
			transform:
				rotate(80deg)
				translate(-30%, -15%);
		}
		&:nth-child(2){
			transform-origin: left top;
			transform:
				rotate(65deg)
				translate(70%, -35%);

		}
		&:last-child{
			transform-origin: right top;
			transform:
				rotate(85deg)
				translate(30%, 100%);
		}
		*/
	}
	&__{
		&content{
			margin: auto;
		}
		&logo{
			max-size: 3.75rem 3.25rem;
		}
	}
}

@keyframes preloaderFade{
	to{
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes logoFade{
	from{
		opacity: .2;
	}
}

@keyframes logoFirst{
	from{
		transform:
			rotate(80deg)
			translate(-30%, -15%);
	}
}

@keyframes logoSecond{
	from{
		transform:
			rotate(65deg)
			translate(70%, -35%);
	}
}

@keyframes logoThird{
	from{
		transform:
			rotate(85deg)
			translate(30%, 100%);
	}
}
