.preloader{

	position: fixed 0;
	z-index: $z-over-everything;

	background: $c-primary;

	display: flex;

	/*transition:
		opacity $transition__preloader,
		visibility 0s $transition__preloader;*/

	// mods
	&._hidden{
		opacity: 0;
		visibility: hidden;

	// elements
		path{
			transform: none !important;
			opacity: 1;
		}
	}

	// elements
	svg{
		overflow: visible;
	}
	path{
		animation-duration: $transition__preloader;
		transition: $transition__preloader;
		opacity: .2;

		// pseudoselectors
		&:first-child{
			transform-origin: right bottom;
			transform:
				rotate(80deg)
				translate(-30%, -15%);
	}
		&:nth-child(2){
			transform-origin: left top;
			transform:
				rotate(65deg)
				translate(70%, -35%);

		}
		&:last-child{
			transform-origin: right top;
			transform:
				rotate(85deg)
				translate(30%, 100%);
		}
		}
	&__{
		&content{
			margin: auto;
		}
		&logo{
			max-size: 3.75rem 3.25rem;
		}
	}
}

@keyframes hidePrelaoder{
	to{
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes logoFirst{
	from{
		opacity: .2;
		transform:
			rotate(80deg)
			translate(-30%, -15%);
	}
}

@keyframes logoSecond{
	from{
		opacity: .2;
		transform:
			rotate(65deg)
			translate(70%, -35%);
	}
}

@keyframes logoThird{
	from{
		opacity: .2;
		transform:
			rotate(85deg)
			translate(30%, 100%);
	}
}
