.preloader{

	position: fixed 0;
	z-index: $z-under-everything;

	background: $c-primary;

	display: flex;

	animation: fadeOut 5s;
	/*transition: 5s;*/
	opacity: 0;

	// elements
	&__{
		&content{
			margin: auto;
		}
		&logo{
			max-size: 6.25rem;
		}
	}
}

@keyframes fadeOut{
	form{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}
